$primary: #f65261;
$black: #232323;
$grey: #555;
$bg-dark: #424242;
$border-grey: rgba(#979797, 0.5);

$white: #fff;
$white7: rgba($white, 0.7);
$white5: rgba($white, 0.5);
$white3: rgba($white, 0.3);
