.select {
  position: relative;

  .toggle {
    @extend %p-md;

    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: $white;
    padding-right: 26px;
    cursor: pointer;

    @include for-mobile {
      font-size: 12px;
      padding-right: 15px;
    }

    .icon {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      width: 12px;
      height: 12px;
      color: $primary;
      pointer-events: none;
      transform: translateY(-50%);

      @include for-mobile {
        width: 9px;
        height: 9px;
      }
    }
  }

  .dropdown {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 200px;
    max-height: 250px;
    overflow: auto;
    background-color: $black;
    color: $white7;
    margin-top: 10px;
  }

  .option {
    @include resetbtn;

    @extend %p-base;

    display: block;
    position: relative;
    width: 100%;
    padding: 12px;
    text-align: left;
    cursor: pointer;

    &.isActive {
      color: $primary;
    }

    @include for-hover {
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
