.button {
  @include resetbtn;

  display: inline-block;
  font: {
    family: $f-montserrat;
    weight: 500;
    size: 20px;
  }

  line-height: em(24, 20);
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s linear;

  @include for-mobile {
    font-size: 14px;
  }

  &.default {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    padding: 15px 30px;

    @include for-hover {
      &:hover {
        background-color: transparent;
        border-color: $primary;
        color: $primary;
      }
    }
  }

  &.ghost {
    background-color: transparent;
    border-color: $primary;
    color: $primary;
    padding: 15px 30px;

    @include for-hover {
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }

  &.info {
    background-color: rgb(96 96 96 / 68%);
    border-color: rgb(96 96 96 / 68%);
    color: $primary;
    padding: 11px 18px;

    @include for-hover {
      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }
}
