.input {
  width: 100%;
  background-color: rgba($black, 0.7);
  border: none;
  padding: 0 20px;
  color: $white;
  height: 56px;
  border-radius: 4px;
  transition: all 0.3s linear;
  @include placeholder(rgba($white, 0.3));

  &:focus {
    outline: 1px solid rgba($white, 0.5);
  }
}
