.card {
  position: relative;

  .preview {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 150%;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in;
    }

    &.notFound {
      background-color: $grey;

      img {
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: none;
      }
    }

    @include for-hover {
      &:hover img {
        transform: scale(1.02);
      }

      &.notFound:hover img {
        transform: translate(-50%, -50%);
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .title {
    display: block;
    color: $white7;
    margin-bottom: 8px;
    margin-right: 5px;
    cursor: pointer;
    transition: color 0.3s linear;

    @include for-hover {
      &:hover {
        color: $primary;
      }
    }
  }

  .genre {
    @extend %p-hint;

    color: $white3;

    &::after {
      content: ', ';
    }

    &:last-child::after {
      display: none;
    }
  }

  .year {
    @extend %p-hint;

    display: inline-block;
    border: 1px solid $border-grey;
    border-radius: 4px;
    text-align: center;
    color: $white7;
    width: 66px;
    height: 26px;
    line-height: 26px;
  }

  .menuContext {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 1;
    width: 190px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
  }

  .actionBtn {
    @include resetbtn;

    @extend %p-md;

    background-color: transparent;
    color: $white;
    padding: 7px 20px;
    text-align: left;
    transition: background-color 0.3s linear;

    @include for-hover {
      &:hover {
        background-color: $primary;
      }
    }
  }

  @include for-hover {
    &:hover .menuContext {
      opacity: 1;
      visibility: visible;
    }
  }
}
