.header {
  position: relative;
  height: 396px;
  background-color: $black;

  .logo {
    width: 152px;

    @include for-mobile {
      width: 100px;
    }
  }

  .cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .img,
    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      background-color: black;
      opacity: 0.4;
    }

    .img {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      opacity: 0.3;
      filter: blur(8.1548px);
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .topPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;
  }

  .addMovieButton svg {
    width: 10px;
    height: 10px;
    vertical-align: 10%;
    margin-right: 5px;
    opacity: 1;
    visibility: visible;
  }

  .showSearchButton {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    color: $primary;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);

    svg {
      width: 98%;
      height: 98%;
    }
  }

  &.isShowMovie {
    height: auto;
    border-bottom: 10px solid $grey;

    .topPanel {
      margin-bottom: 10px;
    }

    .addMovieButton,
    .cover {
      opacity: 0;
      visibility: hidden;
    }

    .showSearchButton {
      opacity: 1;
      visibility: visible;
    }
  }
}
