.header {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000;
  text-align: center;
}

.logo {
  width: 100px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.title {
  font: {
    size: 18px;
    weight: 700;
  };
}
