@import 'normalize.scss/normalize';

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  @extend %p-md;

  font-family: $f-montserrat;
  min-height: 100%;
}

body {
  background-color: $black;
  color: $white;
}

a {
  color: $white;
  text-decoration: none;
  transition: all 0.3s linear;

  @include for-hover {
    &:hover {
      color: $primary;
    }
  }
}

p {
  @extend %p-base;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.overflow {
  overflow: hidden;
}
