.sort {
  display: flex;
  align-items: center;

  .caption {
    @extend %p-md;

    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $white5;
    margin-right: 30px;

    @include for-mobile {
      font-size: 12px;
      margin-right: 15px;
    }
  }
}
